# flyctl launch added from .gitignore
**/*.py[cod]
**/*.db
**/__pycache__
**/assets/external
**/.web
**/.states

# flyctl launch added from .venv/.gitignore
.venv/**/*

# flyctl launch added from .venv/lib/python3.13/site-packages/reflex/.templates/web/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.venv/lib/python3.13/site-packages/reflex/.templates/web/_static

# dependencies
.venv/lib/python3.13/site-packages/reflex/.templates/web/node_modules
.venv/lib/python3.13/site-packages/reflex/.templates/web/.pnp
.venv/lib/python3.13/site-packages/reflex/.templates/web/**/.pnp.js

# testing
.venv/lib/python3.13/site-packages/reflex/.templates/web/coverage

# next.js
.venv/lib/python3.13/site-packages/reflex/.templates/web/.next
.venv/lib/python3.13/site-packages/reflex/.templates/web/out

# production
.venv/lib/python3.13/site-packages/reflex/.templates/web/build

# misc
.venv/lib/python3.13/site-packages/reflex/.templates/web/**/.DS_Store
.venv/lib/python3.13/site-packages/reflex/.templates/web/**/*.pem

# debug
.venv/lib/python3.13/site-packages/reflex/.templates/web/**/npm-debug.log*
.venv/lib/python3.13/site-packages/reflex/.templates/web/**/yarn-debug.log*
.venv/lib/python3.13/site-packages/reflex/.templates/web/**/yarn-error.log*

# local env files
.venv/lib/python3.13/site-packages/reflex/.templates/web/**/.env.local
.venv/lib/python3.13/site-packages/reflex/.templates/web/**/.env.development.local
.venv/lib/python3.13/site-packages/reflex/.templates/web/**/.env.test.local
.venv/lib/python3.13/site-packages/reflex/.templates/web/**/.env.production.local

# vercel
.venv/lib/python3.13/site-packages/reflex/.templates/web/**/.vercel

# DS_Store
.venv/lib/python3.13/site-packages/reflex/.templates/web/**/.DS_Store

# flyctl launch added from .web/.gitignore
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.web/_static

# dependencies
.web/node_modules
.web/.pnp
.web/**/.pnp.js

# testing
.web/coverage

# next.js
.web/.next
.web/out

# production
.web/build

# misc
.web/**/.DS_Store
.web/**/*.pem

# debug
.web/**/npm-debug.log*
.web/**/yarn-debug.log*
.web/**/yarn-error.log*

# local env files
.web/**/.env.local
.web/**/.env.development.local
.web/**/.env.test.local
.web/**/.env.production.local

# vercel
.web/**/.vercel

# DS_Store
.web/**/.DS_Store
fly.toml
